nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  background-color: rgb(77, 114, 152);
}

nav a {
  color: rgb(241, 245, 248);
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 15vw;
  list-style: none;
}

footer {
  text-align: center;
  margin: 65vh auto 0;
}
