nav {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 15vw;
  background-color: rgb(77, 114, 152);
  font-size: 1.15rem;
}

nav a {
  color: rgb(241, 245, 248);
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 20vh;
  list-style: none;
}

nav input {
  margin-top: 7px;
  padding: 5px;
}

#login-form {
  text-align: center;
}

#login-form button {
  width: 60%;
  padding: 5px;
  margin: 7px 0 10px;
  cursor: pointer;
}

.main-content {
  margin-left: 17vw;
  padding-top: 2vh;
}

footer {
  margin-left: 50vw;
  text-align: center;
  position: absolute;
  bottom: 1vh;
}
